/* Styled for the PFG Training Survey  */
.pfg-form.formid-training-survey .field,
.pfg-form.formid-training-survey .PFGFieldsetWidget {
    width: 100% !important;
}

#pfg-fieldsetname-2-day .formQuestion.label,
#pfg-fieldsetname-1-day .formQuestion.label,
#pfg-fieldsetname-1-2-day .formQuestion.label {
    display: none;
}

.col-xs-8.col-sm-3.person-bio {
    padding-left: 0px !important;
    min-width: 150px;
    width: 160px;
}
